# APP CONFIG
NEXT_PUBLIC_APP_URL =

# AUTH CONFIG
APP_USERNAME    =
APP_PASSWORD    =
SSO_DOMAINS     = 

# GOOGLE WORKSPACE OAUTH SSO
GOOGLE_CLIENT_ID        = 
GOOGLE_CLIENT_SECRET    =
GOOGLE_CALLBACK_ROUTE   = /api/auth/sso/callback

# NOTIFICATION CONFIG
GOOGLE_SPACE_WEBHOOK_URL    =